* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    list-style: none;
}
.header {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: white;
    box-shadow: 0px 1px 8px 0px;
}
.dau-1 {
    width: 30%;
    display: flex;
    justify-items:center ;
    align-items: center;
    margin-left: 12%;
}
ul {
    list-style: none;
    display: flex;
}
li {
    width: 100px;
}
.dau-2 {
    width: 70%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 40%;
}
.content-1 {
   background-image: url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg");
   width: 100%;
   height: 745px;
   background-repeat: no-repeat;
   display: flex;
   justify-items: center;
   align-items: center; 
}
.nd-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chu-1 {
    min-width: 700px;
    height: 60px;
    margin-left: 32%;
    font-size: 28px;
    color: whitesmoke;
}
.chu-2 {
    min-width: 600px;
    height: 60px;
    margin-left: 36%;
    font-size: 28px;
    color: whitesmoke; 
}
hr {
    height: 2px;
    width: 50px;
    background-color: yellow;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.chu-3 {
        width: 700px;
        height: 38px;
        margin-left: 30%;
        font-size: 12px;
        color: whitesmoke;
        margin-bottom: 12px;
}
.chu-4 {
        width: 600px;
        height: 38px;
        margin-left: 32%;
        font-size: 12px;
        color: whitesmoke; 
}
.bam-1 {
    min-width: 180px;
    height: 60px;
    border-radius: 30px;
    background-color: orange;
    font-size: large;
    color: aliceblue;
    cursor: pointer;
}
.bam-ngoai {
    text-align: center;
    margin-top: 60px;
}
.nd-2 {
    width: 100%;
    height: 476px;
    background-color: #F4623A;
}
#khbk {
    height: 2px;
    width: 50px;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.chu-5 {
    width: 700px;
    height: 60px;
    margin-left: 32%;
    font-size: 28px;
    padding-top:100px ;
    color: whitesmoke;  
}
.chu-6 {
    width: 700px;
    height: 38px;
    margin-left: 30%;
    font-size: 12px;
    color: whitesmoke;
    margin-bottom: 12px;
}
.chu-7 {
    width: 700px;
    height: 38px;
    margin-left: 31%;
    font-size: 12px;
    color: whitesmoke;
}
.chu-8 {
    min-width: 700px;
    height: 38px;
    margin-left: 42%;
    font-size: 12px;
    color: whitesmoke;
}
.bam-2 {
    min-width: 180px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    font-size: large;
    color: orange;
    cursor: pointer;
}
.nd-3 {
    width: 100%;
    height: 665px;
}
.chu-9 {
    width: 700px;
    height: 60px;
    margin-left: 38%;
    font-size: 20px;
    color: black;
    padding-top: 160px;
}
.nd-3-1 {
    display: flex;
    height: 300px;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 120px;
}
.o-nho {
    height: 273px;
    width: 20%;
    text-align: center;
}
i {
    font-size :40px;
    color:#F4623A;
}
h3 {
    margin-top: 20px;
    margin-bottom: 12px;
}
.nd-4 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 218.13px 218.13px;
}
.anh-1 {
    background-image: url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/1.jpg");
}
.anh-2 {
    background-image: url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/2.jpg");
}
.anh-3 {
    background-image: url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/3.jpg");
}
.anh-4 {
    background-image: url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/4.jpg");
}
.anh-5 {
    background-image: url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/5.jpg");
}
.anh-6 {
    background-image: url("https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/6.jpg");
}
.nd-5 {
    height: 378px;
    background-color: #212529;
    text-align: center;
}
.gc-1 {
    padding-top: 180px;
    font-size: 50px;
    color: whitesmoke;
}
.nd-6 {
    height: 1020px;
    text-align: center;
    padding-top: 100px;
}
input {
    height: 52px;
    width: 800px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#khac {
    height: 150px;
}
.bam-cuoi {
    height: 60px;
    width: 800px;
    background-color: orange;
    border-radius: 40px; 
    margin-top: 20px;
    margin-bottom: 80px;
    cursor: pointer;
}
.bam-cuoi:hover {
    background-color: greenyellow
}
.footer {
    height: 50px;
    text-align: center;
    background-color: whitesmoke;
    padding-top: 60px;
}

@media only screen and (max-width: 568px) {
    .dau-2{
        display: none;
    }
    .chu-3,.chu-4,.chu-5,.chu-6,.chu-7,.chu-8 {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 12px;
    }
    .chu-9 {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    input,.bam-cuoi {
        width: 80%;
    }
    .gc-1 {
        font-size: 28px;
    }
    .chu-1,.chu-2,.chu-5 {
        font-size: 20px;
    }
    .chu-3,.chu-4,.chu-6,.chu-7 {
        font-size: 12px;
        max-width: 568px;
    }
    .anh-1,.anh-2,.anh-3,.anh-4,.anh-5,.anh-6 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .nd-3-1 {
        display: flex;
        flex-direction: column;
    }
    .nd-4 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 218.13px 218.13px 218.13px 218.13px 218.13px 218.13px;
        margin-top: 100px;
    }
    .o-nho {
        width: 100%;
        margin-bottom: 20px;
    }
    .chu-1,.chu-2 {
        width: 100px;
        margin: 0;
        height: 30px;
    }
}
@media only screen and (min-width:568px) and (max-width: 899px) {
    .dau-2{
        display: none;
    }
    .chu-3,.chu-4,.chu-5,.chu-6,.chu-7,.chu-8 {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 12px;
    }
    .chu-9 {
        text-align: center;
        width: 100%;
        margin: 0;
    }
    input,.bam-cuoi {
        width: 80%;
    }
    .gc-1 {
        font-size: 28px;
    }
    .chu-1,.chu-2,.chu-5 {
        font-size: 20px;
    }
    .chu-3,.chu-4,.chu-6,.chu-7 {
        font-size: 12px;
        max-width: 568px;
    }
    .anh-1,.anh-2,.anh-3,.anh-4,.anh-5,.anh-6 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .nd-3-1 {
        display: flex;
        flex-wrap: wrap;
    }
    .nd-4 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:  218.13px 218.13px 218.13px;
        margin-top: 120px;
    }
    .o-nho {
        width: 50%;
        margin-bottom: 12px;
    }
    .chu-1,.chu-2 {
        width: 100px;
        margin: 0;
        height: 30px;
        text-align: center;
    }
    .chu-3 ,.chu-4,.chu-5,.chu-6,.chu-7 {
        text-align: center;
    }
}